<!-- <div class="course" *ngFor="let item of courses">
    <p>
      {{item}}
        {{ item.title }}
        test
    </p>



     <div class="">
        <span [ngStyle]="{'background-color' : getTagColor(item)}">
          <a href="#">{{ item.title }}</a>
        </span>

    </div>
 </div> -->

<div class="slider-courses movie-items">
  <div class="container">
    <div class="row ipad-width">


      <div *ngIf="!progress"><h3><i class="far-panel fab fa-apple icon-panel"></i> {{ getTitle() }}</h3></div>

      <div *ngIf="progress"><h3>Moje kursy</h3></div>

        <div class="separator"></div>
      <div class="slider-container">
        <div class="slick-multiItemSlider">
          <div class="slider-padding-left" *ngFor="let item of courses">
            <div class=" course-item-slider ">

              <div class="cate cateslider">
                <!-- <span [ngStyle]="{'background-color' : getTagColor(item)}">
                        <a href="#">{{ item.category.name }}</a>
                      </span> -->
              </div>
              <a (click)="goToProgressCourse(item)">
                <div class="mv-img-panel">
                  <a class="" (click)="goToProgressCourse(item)" ><img class="mv-img" [src]="getUrl(item)" alt=""></a>
                </div>


              <div class="title-in title-slider-panel">

                <div *ngIf="progress">
                    <div class="panel-level-progress-outter"></div>
                    <div class="panel-level-progress-bar" [ngStyle]="{'width': getProgressBarWidth(item) }"></div>
                    <div class="panel-level-progress">
                        <p>{{item.progress}}%</p>
                      </div>
                    </div>
                <div class="panel-level">
                  <p>{{ getCourseLevel(item) }}</p>
                </div>
                <h6><a (click)="goToProgressCourse(item)">{{item.title}}</a></h6>

                <div class="panel-lesson-numer">
                  <p><i class="far-panel far fa fa-laptop-code"></i>Liczba lekcji: <span>{{ getCourseLessons(item) }}</span></p>
                </div>


              </div>
            </a>
              <!-- <h2>adsasdasd</h2> -->

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
