.video-container{
  background-color: white;
   height: 100%;
  /*width: 100%; */

  margin-left: 50px;
  margin-right: 50px;
   margin-top: 70px;
 /* margin-bottom: 40px; */
  height: 72vh;
  position: relative;
}

/* @media (max-height: 568px) {
  .video-container {
    height: 300px;
  }
}

@media (max-height: 668px) {
  .video-container {
    height: 500px;
  }
}

@media (max-height: 768px) {
  .video-container {
    height: 500px;
  }
} */


.video-player{
  /* width: 100%; */
  /* height: 100%; */
  background-color: black;
  /* margin: auto; */
  /* padding-left: 50px; */
}

