.triangle-img {
	position: absolute;
	width: 920px;
	z-index: 3; }


	.triangle-img--align-left {
		left: -630px;
		top: -100px;
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg); }
	 @media (max-width: 1600px) {
			.triangle-img--align-left {
				left: -630px; } }
		/*	@media (max-width: 1440px) {
			.triangle-img--align-left {
				left: -1200px; } }
		@media (max-width: 1360px) {
			.triangle-img--align-left {
				left: -1260px; } }*/
		@media only screen and (max-width: 1199px) {
			.triangle-img--align-left {
				left: -700px; } }
		@media (max-width: 1140px) {
			.triangle-img--align-left {
				left: -750px; } }
	@media only screen and (max-width: 991px) {
		.triangle-img {
			display: none; } }
