<div class="wrapper">


  <mat-sidenav-container class="side-nav-container">
    <mat-sidenav #drawer mode="side" opened role="navigation" class="drawer sidebar">


      <mat-nav-list class="sidebar--nav" *ngIf="showMenu">
        <a (click)="goToCourse()">
          <div class="left-menu-title">
            <h4>Przejdź do kursu</h4>

          </div>
        </a>
        <ul>
          <li>
            <ul>
              <li *ngFor="let item of course.sections">
                <a class="dropdown-btn" (click)="toggleMenu(item)">

                  <h4>{{ item.name }}</h4>
                  <div class="dropdown-btn-lesson-number">
                    <p>Lekcje: 11</p>
                  </div>
                  <div class="left-menu-dropdown-icon">
                    <i class="fa" [ngClass]="{ 'fa-angle-down': !isSectionCollapsed(item), ' fa-angle-up': isSectionCollapsed(item)}"></i>
                  </div>

                </a>
                <div class="dropdown-container" [ngClass]="{ 'sidebar-dropdown-open': isSectionCollapsed(item), 'sidebar-dropdown-hidden': !isSectionCollapsed(item)}">
                  <ul>
                    <li class="" *ngFor="let lesson of item.lessons">
                      <a (click)="goToLesson(lesson)">

                        <div class="row">
                          <div class="col-md-1 current-lesson-container">
                            <div class="current-lesson" [ngClass]="getLessonClass(lesson)">
                              <span style="font-size: 13px;" class="icon-curent-played-lesson" [hidden]="!isCurrentLesson(lesson)">
                                <i class="fas fa-angle-right"></i>
                              </span>

                              <span style="font-size: 9px;" class="icon-curent-played-lesson" [hidden]="isCurrentLesson(lesson) || !isWatchedLesson(lesson)">
                                <i class="fa fa-check"></i>
                              </span>
                            </div>
                          </div>
                          <div class="col-md-11 left-menu-lesson-name" [ngClass]="{ 'current_lesson_label' : isCurrentLesson(lesson), 'current_lesson_label_done' : isWatchedLesson(lesson) && !isCurrentLesson(lesson) }">
                            {{ getLessonNumber(lesson) }}. {{ lesson.name }}&nbsp;&nbsp;<span>{{ getTime(lesson) }}</span>
                          </div>
                        </div>
                      </a>

                    </li>
                  </ul>
                </div>
              </li>

            </ul>
          </li>


        </ul>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-nav-bar [drawer]=true [sidenav]="sidenav" [title]="getTitle()"></app-nav-bar>
      <app-video #videoContainer *ngIf="showMenu" (videoEnded)="videoEndedEvent($event)" [sources]="sources" [lesson]="currentLessonObj" (saveProgress)="saveProgressEvent($event)"></app-video>
      <div #dataContainer class="description-lesson-html"></div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
