<div class="wrapper">


<mat-sidenav-container class="example-container">
 <!-- <mat-sidenav #drawer mode="side" opened role="navigation" class="drawer sidebar" >



       <mat-accordion class="left-menu-header">
          <mat-expansion-panel class="left-menu-panel">
            <mat-expansion-panel-header class="left-menu-header">
                <i class="fa fa-home"></i>
                <span>Dashboard</span>


            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>


          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion> -->


        <!-- <nav class="navbar navbar-default"> -->
            <!-- <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a routerLink="/search" class="navbar-brand">Brand-name</a>
              </div>

              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a routerLink="/search">Search</a></li>
                  <li><a routerLink="/edit">Edit</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a routerLink="/signup">Signup</a></li>
                </ul>
              </div>
            </div> -->
          <!-- </nav> -->

    <!-- <mat-nav-list class="sidebar--nav">
        <ul>
            <li>
                <ul>
                    <li class="active navbar-header">
                        <a href="index.html">
                            <i class="fa fa-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Ecommerce</span>
                        </a>

                        <ul>
                            <li><a href="ecommerce.html">Dashboard</a></li>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="products-edit.html">Edit Products</a></li>
                            <li><a href="orders.html">Orders</a></li>
                            <li><a href="order-view.html">Order View</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Layouts</a>

                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-th"></i>
                            <span>Page Layouts</span>
                        </a>

                        <ul>
                            <li><a href="blank.html">Blank Page</a></li>
                            <li><a href="page-light.html">Page Light</a></li>
                            <li><a href="sidebar-light.html">Sidebar Light</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-th-list"></i>
                            <span>Footers</span>
                        </a>

                        <ul>
                            <li><a href="footer-light.html">Footer Light</a></li>
                            <li><a href="footer-dark.html">Footer Dark</a></li>
                            <li><a href="footer-transparent.html">Footer Transparent</a></li>
                        </ul>
                    </li>
                </ul>
            </li>


        </ul>
    </mat-nav-list>
  </mat-sidenav>-->
  <mat-sidenav-content>
    <app-nav-bar></app-nav-bar>

     <!-- <mat-toolbar>
      <mat-toolbar-row class="navbar navbar-fixed" [ngClass]="{ 'navbar-left-padding': drawerVisible, 'navbar-left-padding-clear': !drawerVisible}">

          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleDrawer()" color="#444444">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>



             <div class="navbar--search">
                <form action="search-results.html">
                    <input type="search" name="search" class="form-control" placeholder="Szukaj..." required>
                    <button class="btn-link"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div class="navbar--nav ml-auto">
                <ul class="nav">

                    <li class="nav-item dropdown nav--user ">
                        <button class="btn btn-rounded btn-dashboard" data-toggle="dropdown">
                            <span>Ustawienia&nbsp;</span>
                            <i class="fa fa-angle-down"></i>
                        </button>

                        <ul class="dropdown-menu2">
                            <li><a href="profile.html"><i class="far fa-user"></i>Profile</a></li>
                            <li><a href="mailbox_inbox.html"><i class="far fa-envelope"></i>Inbox</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a href="lock-screen.html"><i class="fa fa-lock"></i>Lock Screen</a></li>
                            <li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


      </mat-toolbar-row>
    </mat-toolbar> -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>



