.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.wrapper {
  height: 100%;
}


.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0;
  width: 270px;
  margin-left: 0;
  background-color: #1c2324;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: margin .35s cubic-bezier(0.99, 0, 0.5, 0.99), left .25s cubic-bezier(0.99, 0, 0.5, 0.99);
  transition: margin .35s cubic-bezier(0.99, 0, 0.5, 0.99), left .25s cubic-bezier(0.99, 0, 0.5, 0.99);
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 99;
}

.sidebar-light .sidebar {
  background-color: #fff;
}

.sidebar-mini .sidebar {
  left: 0;
}

@media (min-width: 1200px) {
  .sidebar {
      left: 0;
  }

  .sidebar-mini .sidebar {
      left: 0px;
  }
}



/* 10.2. SIDEBAR NAV */

.sidebar--nav {
  position: relative;
  padding: 45px 0 21px;
  z-index: 0;
}

.sidebar--nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar--nav ul ul {
  padding-bottom: 15px;
  border-top: 1px solid #353535;
}

.sidebar--nav li {
  position: relative;
  z-index: 0;
}

.sidebar--nav > ul > li + li {
  margin-top: 35px;
}

.sidebar--nav > ul > li + .is-dropdown {
  margin-top: 15px;
}

.sidebar--nav ul ul li {
  border-bottom: 1px solid #353535;
}

.sidebar--nav a {
  display: block;
  position: relative;
  padding: 13px 20px 13px 20px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 0;
}

.sidebar--nav ul ul a {
  padding: 6px 20px 7px 20px;
  color: #999;
  font-weight: normal;
  text-transform: none;
}

.sidebar--nav ul ul a:hover,
.sidebar--nav ul ul .open > a,
.sidebar--nav ul ul .active > a,
.sidebar--nav ul ul .active > a:before,
.sidebar--nav ul ul .active > a:after {
  color: #fff;
  background-color: #232929;
}

.sidebar--nav .is-dropdown > a:before,
.sidebar--nav .is-dropdown > a:after {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -12px;
  color: #999;
  font-family: "Font Awesome\ 5 Free";
  font-weight: 700;
  -webkit-transition: color .25s;
  transition: color .25s;
}

/* .sidebar--nav .is-dropdown > a:before {
  content: "\f146";
}

.sidebar--nav .is-dropdown > a:after {
  content: "\f0fe";
} */

/* .sidebar--nav .is-dropdown.open > a:before,
.sidebar--nav .is-dropdown > a:after {
  display: none;
} */

/* .sidebar--nav .is-dropdown > a:before,
.sidebar--nav .is-dropdown.open > a:after {
  display: block;
} */

.sidebar--nav > ul > .is-dropdown > a:before {
  font-weight: 400;
}

.sidebar-dropdown-hidden {
  display: none;
}

.sidebar-dropdown-open {
  display: block;
}

/* .sidebar--nav ul ul ul a:hover,
.sidebar--nav ul ul ul .open > a,
.sidebar--nav ul ul ul .active > a,
.sidebar--nav ul ul ul .active > a:before,
.sidebar--nav ul ul ul .active > a:before {
  background-color: transparent;
} */

.sidebar--nav ul ul ul {
  padding-top: 5px;
  padding-bottom: 6px;
}

.sidebar--nav ul ul ul a {
  padding-left: 50px;
}

.sidebar--nav ul ul ul li {
  border-bottom-width: 0;
}

.sidebar--nav ul ul .is-dropdown > a:before {
  content: "\f105";
}

.sidebar--nav ul ul .is-dropdown > a:after {
  content: "\f107";
}

.sidebar--nav .is-dropdown > a:hover:before,
.sidebar--nav .is-dropdown > a:hover:after,
.sidebar--nav .is-dropdown > .open > a:before,
.sidebar--nav .is-dropdown > .open > a:after,
.sidebar--nav .is-dropdown > .active > a:before,
.sidebar--nav .is-dropdown > .active > a:after {
  color: #fff;
}

.sidebar--nav i {
  min-width: 16px;
  margin-right: 10px;
}

.sidebar-light .sidebar--nav ul ul,
.sidebar-light .sidebar--nav ul ul li {
  border-color: #efefef;
}

.sidebar-light .sidebar--nav ul ul a:hover,
.sidebar-light .sidebar--nav ul ul .open > a,
.sidebar-light .sidebar--nav ul ul .active > a,
.sidebar-light .sidebar--nav ul ul .active > a:before,
.sidebar-light .sidebar--nav ul ul .active > a:after {
  color: #333;
  background-color: transparent;
}

.sidebar-light .sidebar--nav ul ul ul {
  background-color: #f9f9f9;
}

.sidebar-light .sidebar--nav .is-dropdown > a:hover:before,
.sidebar-light .sidebar--nav .is-dropdown > a:hover:after,
.sidebar-light .sidebar--nav .is-dropdown > .open > a:before,
.sidebar-light .sidebar--nav .is-dropdown > .open > a:after,
.sidebar-light .sidebar--nav .is-dropdown > .active > a:before,
.sidebar-light .sidebar--nav .is-dropdown > .active > a:after {
  color: #333;
}

