<!-- <div class="register-image">
    <img src="../../../assets/images/meetideo/final-register.png" />
  </div> -->
  <div class="login-image">
      <img src="../../../assets/images/meetideo/login-final.png" />
    </div>
  <h3>Zarejestruj się</h3>
  <div class="row">

      <div class="input-container" style="display: flex;">
          <span style=" position: static; color: #000000;">
              <i class="fas fa-at input-icon"></i>

            </span>

            <input type="text" name="username" id="username" placeholder="Twój adres email"  />


      </div>


  </div>

  <div class="row margin-bottom-10" >
      <div class="input-container" style="display: flex;">
          <span style="position: static; color: #000000;">
              <i class="fa fa-unlock input-icon"></i>

            </span>

          <input type="password" name="password" id="password" placeholder="Hasło" />


      </div>

  </div>
  <div class="row">

  </div>
  <div class="row">
    <button (click)="login()">Załóż darmowe konto</button>
  </div>
  <div class="row social-btn-2">
      <button class="fb"(click)="login()">Zarejestruj się przez Facebook</button>
    </div>
  <div class="row login-separator-with-label">
    <div class="login-separator"></div>
    <div><span>Masz już konto?</span></div>

  </div>

  <div class="row login-register-component">
      <button class="register-btn" (click)="goToLogin()">Zaloguj się</button>
    </div>

