
<!--end of preloading-->
<!--login form popup-->

<!--end of signup form popup-->

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 600 480" style="enable-background:new 0 0 600 480;" xml:space="preserve" class="triangle-img triangle-img--align-right">
<g>
 <path class="st0" d="M332.16,108.54,76.5,357.6C43.2,410.88,81.5,480,144.34,480H455.66c62.83,0,101.14-69.12,67.84-122.4L367.84,108.54C336.51,58.41,263.49,58.41,232.16,108.54Z" fill="url(#img1)" />
 <path class="st0" d="M332.16,108.54,76.5,357.6C43.2,410.88,81.5,480,144.34,480H455.66c62.83,0,101.14-69.12,67.84-122.4L367.84,108.54C336.51,58.41,263.49,58.41,232.16,108.54Z" fill="url(#triangle-gradient)" fill-opacity="0.9" />
</g>
<defs>
 <pattern id="img1" patternUnits="userSpaceOnUse" width="500" height="500">
   <image xlink:href="../../../assets/bg_login.jpg" x="0" y="160" width="500" height="500"></image>
 </pattern>

 <linearGradient id="triangle-gradient" y2="100%" x2="0" y1="50%" gradientUnits="userSpaceOnUse" >
 <stop offset="0" stop-color="#f0205b"/>
 <stop offset="1" stop-color="#B939E5"/>
 </linearGradient>
</defs>
</svg>



<div class="landing-hero">



	<!-- <img src="/src/assets/bg-4.jpg" alt="Logo"> -->
	<!-- <div class="row landing-hero-text">
    <h2 class="text-yellow">FILM REVIEW  &middot;  MOVIE DATABASE</h2>
	</div> -->


  <div class="container">
      <div class="row">

    <div class="login-content login-custom center-block">
        <h3>Login</h3>
        <form method="post" action="login.php">
          <div class="row">
             <label for="username">
                    Username:
                    <input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
          </div>

            <div class="row">
              <label for="password">
                    Password:
                    <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
              <div class="remember">
          <div>
            <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
          </div>
                <a href="#">Forget password ?</a>
              </div>
            </div>
           <div class="row">
              <button type="submit">Login</button>
           </div>
        </form>
        <div class="row">
          <p>Or via social</p>
            <div class="social-btn-2">
              <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
              <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
            </div>
        </div>
    </div>

    </div>

</div>




</div>


