<div class="login-content login-custom center-block">
  <div class="login-image">
    <img src="../../../assets/images/meetideo/login-final.png" />
  </div>
  <h3>Zaloguj się</h3>
  <div class="row">
      <input type="text" name="username" id="username" placeholder="Twój adres email"  />

  </div>

  <div class="row margin-bottom-10">

      <input type="password" name="password" id="password" placeholder="Hasło" />
  </div>
  <div class="row">

  </div>
  <div class="row">
    <button (click)="login()">Zaloguj się</button>
  </div>
  <div class="row social-btn-2">
      <button class="fb"(click)="login()">Zaloguj przez Facebook</button>
    </div>

  <div class="row">
    <p>Or via social</p>
    <div class="social-btn-2">
      <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
      <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
    </div>
  </div>
</div>
