.triangle-img {
	position: absolute;
	width: 1920px;
	z-index: -1; }
	.triangle-img--align-right {
		top: -850px;
		right: -700px;
		-webkit-transform: rotate(-16deg);
		transform: rotate(-16deg); }
		@media (max-width: 1660px) {
			.triangle-img--align-right {
				right: -900px; } }
		@media only screen and (max-width: 1199px) {
			.triangle-img--align-right {
				right: -1000px; } }
	.triangle-img--align-left {
		left: -1100px;
		top: -880px;
		-webkit-transform: rotate(-16deg);
		transform: rotate(-16deg); }
		@media (max-width: 1600px) {
			.triangle-img--align-left {
				left: -1150px; } }
		@media (max-width: 1440px) {
			.triangle-img--align-left {
				left: -1200px; } }
		@media (max-width: 1360px) {
			.triangle-img--align-left {
				left: -1260px; } }
		@media only screen and (max-width: 1199px) {
			.triangle-img--align-left {
				left: -1340px; } }
		@media (max-width: 1140px) {
			.triangle-img--align-left {
				left: -1400px; } }
	@media only screen and (max-width: 991px) {
		.triangle-img {
			display: none; } }
